{% extends 'base.html' %}{% load static %}
<!-- title -->
{% block title %} Home {% endblock %}

<!--style-->
{% block style %}
<link rel="stylesheet" href="{% static 'my-css/academics/academics.css' %}">
<script src="{% static 'my-js/academics/academics.js' %}"></script>
{% endblock %}

<!-- body -->
{% block body %}
<div class="home-body">
    <!-- background image -->
    <div class="academics-back-image" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{{data.backImage.url}}');">
        <div class="academics-center">
            <div class="academics-center-header">
                {{data.mainHeader}}
            </div>
            <div class="academics-center-subtext">
                {{data.mainSubtext}}
            </div>
            <div class="enroll-button-div">
                <div class="cs-button-blue" onclick="goto('/admissions/')">
                    Enroll
                </div>
            </div>
        </div>
    </div>


    <!-- text 1 -->
    <div class="header-and-subtext">
        <div class="header-and-subtext-header">
            Welcome To Academics
        </div>
        <div class="header-and-subtext-subtext">
            {{data.welcomeSubtext}}
        </div>
    </div>


    <!-- image -->
    <div class="div-flex-center">
        <img class="small-image" src="{% static 'demo/106-1060408_school-disco-older-kids-school-uniform-with-white.png' %}">
    </div>


    <!-- text 1 -->
    <div class="sub-header-and-subtext">
        <div class="sub-header-and-subtext-header">
            Our Academics
        </div>
        <div class="sub-header-and-subtext-subtext">
            {{data.bodyText}}
        </div>
    </div>



    <!-- previous year academics -->
    <div class="sub-header-and-subtext-header last-year-top ">
        Last Year's Top Students
    </div>

    <div class="academics-top-5">
        {% for student in topStudents %}
        <div class="home-menu-item">
            <div class="image-container">
                <img class="image-fl" src="{{student.photo.url}}">
            </div>
            <div class="home-menu-subtext">
                {{student.remarks}}
            </div>
            <div class="awaded-text">
                Awarded
            </div>
            <div class="gold-merit">
                <div class="left-merit-div"><i class="fas fa-award lg"></i></div>
                Gold Merit
            </div>
        </div>
        {% endfor %}
    </div>


    <div class="sub-header-and-subtext-header last-year-top-exam ">
        Examination Boards
    </div>

    <div class="academics-boards-container">
        <div class="examination-board">
            <img class="x-small-image" src="{% static 'academics/zimsec.png' %}">
        </div>
        <div class="examination-board">
            <img class="x-small-image" src="{% static 'academics/cambridge.png' %}">
        </div>
    </div>


    <!-- footer -->
    {% include "components/footer.html" %}
</div>
{% endblock %}