{% load static %}
<style>
    .menu-link-text {
        cursor: pointer;
    }
</style>
<div class="academics-body">

    <div class="home-menu-item">
        <div class="home-menu-header div-flex-center">
            <i class="fas fa-graduation-cap"></i>
            <div class="header-text-menu">Portland Academics</div>
        </div>
        <div class="home-menu-subtext">
            At Portland we value our academics more than anything else, and this is why we have a window dedicated for the top 4 students from the previous year. Just a reminder for them to keep up their good work wherever they are in the world.
        </div>
        <div class="links">
            <div class="menu-link-item">
                <i class="fas fa-caret-right"></i>
                <div class="menu-link-text" onclick="goto('/student-life-learning/Senior')">7th Grade</div>
            </div>
            <div class="menu-link-item">
                <i class="fas fa-caret-right"></i>
                <div class="menu-link-text" onclick="goto('/student-life-learning/Colt')">6th Grade</div>
            </div>
            <div class="menu-link-item">
                <i class="fas fa-caret-right"></i>
                <div class="menu-link-text" onclick="goto('/academics')">Cambridge Examinations</div>
            </div>
            <div class="menu-link-item">
                <i class="fas fa-caret-right"></i>
                <div class="menu-link-text" onclick="goto('/academics')">Zimsec Examinations</div>
            </div>
        </div>
    </div>


    <div class="home-menu-item">
        <div class="image-container">
            <img class="image-fl" src="{% static 'demo/mr-1.jpg' %}">
        </div>
        <div class="home-menu-subtext">
            Magret Khumalo was at the top of her class last year 2019, coming out with 5 units in Mathematics, Agriculture, English, General Paper and Ndebele
        </div>
        <div class="awaded-text">
            Awarded
        </div>
        <div class="gold-merit">
            <div class="left-merit-div"><i class="fas fa-award lg"></i></div>
            Gold Merit
        </div>
    </div>

    <div class="home-menu-item">
        <div class="image-container">
            <img class="image-fl" src="{% static 'demo/mr-2.jpg' %}">
        </div>
        <div class="home-menu-subtext">
            Trevor Nyoni is a brilliant boy, impressed in feild track events, breaking 3 school records during his time at Portland. He went on to obtain 6 units for his Grade 7
        </div>
        <div class="awaded-text">
            Awarded
        </div>
        <div class="gold-merit">
            <div class="left-merit-div"><i class="fas fa-award lg"></i></div>
            Gold Merit
        </div>
    </div>



    <div class="home-menu-item">
        <div class="image-container">
            <img class="image-fl" src="{% static 'demo/mr-3.jpg' %}">
        </div>
        <div class="home-menu-subtext">
            Enselmo Banda is a spirited person, he came out with 5 units in Mathematics, Agriculture, English, GP and Ndebele. He obtained 2 merits over his time at portland
        </div>
        <div class="awaded-text">
            Awarded
        </div>
        <div class="gold-merit">
            <div class="left-merit-div"><i class="fas fa-award lg"></i></div>
            Gold Merit
        </div>
    </div>


    <div class="home-menu-item">
        <div class="image-container">
            <img class="image-fl" src="{% static 'portland/rodney.jpg' %}">
        </div>
        <div class="home-menu-subtext">
            Rodney was the second highest in his class, coming out with 5 units in Mathematics, Agriculture, English, General Paper and Ndebele
        </div>
        <div class="awaded-text">
            Awarded
        </div>
        <div class="gold-merit">
            <div class="left-merit-div"><i class="fas fa-award lg"></i></div>
            Gold Merit
        </div>
    </div>

</div>