{% extends 'base.html' %}{% load static %}
<!-- title -->
{% block title %} Home {% endblock %}

<!--style-->
{% block style %}
<link rel="stylesheet" href="{% static 'my-css/news/news.css' %}">
<script src="{% static 'my-js/news/news.js' %}"></script>
{% endblock %}

<!-- body -->
{% block body %}
<div class="home-body">
    This is the admissions page

    <div class="test">
        dnifn
    </div>
    <!--body -->
    <div class="test">

        <!-- footer -->
        {% include "components/footer.html" %}
    </div>
</div>
{% endblock %}