{% extends 'base.html' %}{% load static %}
<!-- title -->
{% block title %} Home {% endblock %}

<!--style-->
{% block style %}
<link rel="stylesheet" href="{% static 'my-css/news/news.css' %}">
<script src="{% static 'my-js/news/news.js' %}"></script>
{% endblock %}

<!-- body -->
{% block body %}
<div class="home-body">
    <div class="news-body">

        <!-- news header -->
        <div class="news-body-header">
            Portland News
        </div>


        <!-- filters -->
        <div class="events-filters-div">

            <!-- event filter -->
            <div class="event-filter">
                <div class="event-filter-header">
                    NEWS FROM
                </div>
                <input id="date" type="date" class="event-filter-input" placeholder="Date" />
            </div>

            <!-- event filter -->
            <div class="event-filter">
                <div class="event-filter-header">
                    SEARCH
                </div>
                <input id="search" class="event-filter-input" placeholder="keyword" />
            </div>

            <!-- event filter -->
            <div class="event-filter">
                <div class="event-filter-header">
                    SCHOOL
                </div>
                <input id="school" class="event-filter-input" placeholder="primary" />
            </div>

            <!-- find events button -->
            <div class="cs-button-orange " onclick="searchNews()"> SEARCH NEWS </div>
        </div>

        <!-- upcoming events separator -->
        <div class="upcoming-events-separator">
            News Feed
        </div>


        <!-- news content -->
        <div class="news-body-content">

            <!-- content comes here -->

        </div>

    </div>
    <!-- footer -->
    {% include "components/footer.html" %}
</div>
{% endblock %}