{% extends 'base.html' %}{% load static %}
<!-- title -->
{% block title %} Home {% endblock %}

<!--style-->
{% block style %}
<link rel="stylesheet" href="{% static 'my-css/news/news.css' %}">
<script src="{% static 'my-js/news/news.js' %}"></script>
{% endblock %}

<!-- body -->
{% block body %}
<div class="home-body">
    <div class="news-body">

        <!-- news header -->
        <div class="news-body-header">
            News
        </div>

        <!-- news content -->
        <div class="news-body-content">

            <!-- content comes here -->
            <div class="News-Card">
                <img class="News-Card-Image " src="/media/media/news/65294481_1078469662338768_9049640523832229888_n.jpg ">
                <div class="News-Card-Title ">
                    The Boys Come 5th at Masiyepambili
                </div>
                <div class="News-Card-Body ">
                    "association"), is a team sport played with a spherical ball between two teams of 11 ...
                </div>
                <div class="News-Card-Footer ">
                    <div class="News-Read-More " onclick="goto('/news/the-boys-come-5th-at-masiyepambili')">
                        Read more +
                    </div>
                    <div class="News-Read-Category ">
                        Category tag: Soccer
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- footer -->
    {% include "components/footer.html" %}
</div>
{% endblock %}