{% extends 'base.html' %}{% load static %}
<!-- title -->
{% block title %} Home {% endblock %}

<!--style-->
{% block style %}
<link rel="stylesheet" href="{% static 'my-css/home/home.css' %}">
<script src="{% static 'my-js/home/home.js' %}"></script>
{% endblock %}

<!-- body -->
{% block body %}
<div class="home-body">


    <!--backround image-->
    <div class="home-back-image">
        <img class="home-back-image" src="{{data.HomeBackgroundImage.url}}">
    </div>

    <!--body -->
    <div class="home-content">

        <!-- motto -->
        <div class="motto-div ">
            <div class="motto-div-logo div-flex-center">
                <img class="motto-logo" src="{% static 'png/logo_uncut.png' %}">
            </div>
            <div class="motto-text div-flex-center mobile-text-small">
                Education is a commitment to excellence in Teaching and Learning.
            </div>
            <div class="motto-sub-text div-flex-center mobile-text-x-small">
                "Veritas vincit"
            </div>
            <hr class="motto-line">
        </div>

        <!-- our values  -->
        <div class="our-values">
            <div class="our-values-left">
                <div class="our-values-header">
                    OUR VALUES
                </div>
                <div class="our-values-subtext">
                    School vision and mission statements are an explicit indication of a school's priorities. Research has found academic motivation, mental health promotion, and school belonging to be the most frequently cited themes in these statements. The present study
                    sought to examine whether these themes relate to student academic achievement, as indicated by National Assessment Program — Literacy and Numeracy (NAPLAN) scores. A stratified sample of 287 secondary schools in Victoria, Australia
                    was analysed using two language analytic approaches: qualitative emergent coding and supervised lexical analysis. The highest academic scores occurred when mental health promotion was included, though results depended to some extent
                    on the analytic approach and the level of aggregation. Results do suggest that explicitly prioritising both academic performance and mental health is beneficial. Further, the study provides an approach for using language analysis to
                    investigate multilevel constructs in schools.
                </div>
            </div>
            <div class="our-values-vid">
                <iframe class="video-our-values" width="100%" height="350" src="https://www.youtube.com/embed/{{data.HomeVideoFileYoutubeUrl}}"></iframe>
            </div>
        </div>

        <!-- a warm welcome  -->
        <div class="warm-welcome">
            <div class="warm-welcome-header">
                A warm welcome
            </div>
            <div class="warm-welcome-subtext">
                Welcome to Portland, a Pre Kindergarten to Year 12 Anglican day and boarding school for girls located in Wahroonga, on Sydney’s North Shore.
            </div>
            <div class="flash-cards">


                <div class="flash-card-1" onclick="goto('/student-life-learning/ECD')">
                    <div class="body-flash-card">
                        <div class="flash-card-logo">
                            <img class="flash-card-logo-image" src="{% static 'png/sheild.png' %}">
                        </div>
                        <div class="flash-card-separator">
                            <span class="flash-card-separator"></span>
                        </div>
                        <div class="flash-card-header">
                            <div class="center-text">EARLY</div>
                            LEARNING
                        </div>
                        <div class="flash-card-separator">
                            <span class="flash-card-separator"></span>
                        </div>
                        <div class="flash-card-footer">
                            Ecd
                        </div>
                    </div>
                </div>

                <div class="flash-card-1" onclick="goto('/student-life-learning/Junior')">
                    <div class="body-flash-card">
                        <div class="flash-card-logo">
                            <img class="flash-card-logo-image" src="{% static 'png/sheild.png' %}">
                        </div>
                        <div class="flash-card-separator">
                            <span class="flash-card-separator"></span>
                        </div>
                        <div class="flash-card-header">
                            <div class="center-text">PORLAND</div>
                            JUNIOR
                        </div>
                        <div class="flash-card-separator">
                            <span class="flash-card-separator"></span>
                        </div>
                        <div class="flash-card-footer">
                            Grade 1 - Grade 3
                        </div>
                    </div>
                </div>


                <div class="flash-card-1" onclick="goto('/student-life-learning/Colt')">
                    <div class="body-flash-card">
                        <div class="flash-card-logo">
                            <img class="flash-card-logo-image" src="{% static 'png/sheild.png' %}">
                        </div>
                        <div class="flash-card-separator">
                            <span class="flash-card-separator"></span>
                        </div>
                        <div class="flash-card-header">
                            <div class="center-text">PORTLAND</div>
                            COLT
                        </div>
                        <div class="flash-card-separator">
                            <span class="flash-card-separator"></span>
                        </div>
                        <div class="flash-card-footer">
                            Grade 4 - Grade 6
                        </div>
                    </div>
                </div>



                <div class="flash-card-1" onclick="goto('/student-life-learning/Senior')">
                    <div class="body-flash-card">
                        <div class="flash-card-logo">
                            <img class="flash-card-logo-image" src="{% static 'png/sheild.png' %}">
                        </div>
                        <div class="flash-card-separator">
                            <span class="flash-card-separator"></span>
                        </div>
                        <div class="flash-card-header">
                            <div class="center-text">PORTLAND</div>
                            SENIOR
                        </div>
                        <div class="flash-card-separator">
                            <span class="flash-card-separator"></span>
                        </div>
                        <div class="flash-card-footer">
                            Grade 7
                        </div>
                    </div>
                </div>

                <div class="flash-card-1" onclick="goto('/student-life-learning/Boarding')">
                    <div class="body-flash-card">
                        <div class="flash-card-logo">
                            <img class="flash-card-logo-image" src="{% static 'png/sheild.png' %}">
                        </div>
                        <div class="flash-card-separator">
                            <span class="flash-card-separator"></span>
                        </div>
                        <div class="flash-card-header">
                            <div class="center-text">PORTLAND</div>
                            BOARDING
                        </div>
                        <div class="flash-card-separator">
                            <span class="flash-card-separator"></span>
                        </div>
                        <div class="flash-card-footer">
                            Grade 3 - Grade 7
                        </div>
                    </div>
                </div>



            </div>
        </div>


        <!-- key points -->
        <div class="key-points">
            <div class="absolute-div">
                <div class="key-points-header">
                    Our key points of difference
                </div>

                <div class="key-points-subtext">
                    Portland Primary education, underpinned by the Christian faith, helps our girls thrive today and tomorrow. We empower amazing girls to do amazing things.
                </div>

                <div class="key-points-cards">
                    {% for point in keypoints %}
                    <!-- key points -->
                    <div class="key-points-card" onclick="goto('/keypoints/{{point.slug}}')">
                        <div class="key-points-card-header ">
                            <img class="key-point-header-image " src="{{point.image1.url}}">
                        </div>
                        <div class="key-points-card-header-text ">{{point.header}}</div>
                        <div class="key-points-card-header-subtext ">{{point.preview}}</div>
                    </div>
                    {% endfor %}


                </div>

            </div>
        </div>


        <!-- some news -->
        <div class="Some-News">
            <div class="Some-News-Header ">
                News and events
            </div>
            <div class="warm-welcome-subtext ">
                Abbotsleigh is a vibrant and busy place. Our news and events section keeps you up to date with what's going on. Share in our joys. Take part in our events. Visit often – we don't want you to miss a thing.
            </div>
            <div class="News-Cards ">

                {% for item in news %}

                <div class="News-Card">
                    <img class="News-Card-Image " src="{{item.pic1.url}} ">
                    <div class="News-Card-Title ">
                        {{item.title}}
                    </div>
                    <div class="News-Card-Body ">
                        {{item.preview}}
                    </div>
                    <div class="News-Card-Footer ">
                        <div class="News-Read-More " onclick="goto('/news/{{item.slug}}')">
                            Read more +
                        </div>
                        <div class="News-Read-Category ">
                            Category tag: {{item.tag.name}}
                        </div>
                    </div>
                </div>

                {% endfor %}

            </div>
        </div>

        <!-- footer -->
        {% include 'components/footer.html' %}
    </div>
</div>
{% endblock %}