{% extends 'base.html' %}{% load static %}
<!-- title -->
{% block title %} Home {% endblock %}

<!--style-->
{% block style %}
<link rel="stylesheet" href="{% static 'my-css/home/home.css' %}">
<script src="{% static 'my-js/home/home.js' %}"></script>
{% endblock %}

<!-- body -->
{% block body %}
<div class="home-body">
    <div id="load" class="load">
        <div id="circularG">
            <div id="circularG_1" class="circularG"></div>
            <div id="circularG_2" class="circularG"></div>
            <div id="circularG_3" class="circularG"></div>
            <div id="circularG_4" class="circularG"></div>
            <div id="circularG_5" class="circularG"></div>
            <div id="circularG_6" class="circularG"></div>
            <div id="circularG_7" class="circularG"></div>
            <div id="circularG_8" class="circularG"></div>
        </div>
    </div>
    <!--contact bar-->
    {% include 'components/contact-bar.html' %}
    <!--nav bar-->
    {% include 'components/navbar.html' %}
    <!--backround image-->
    <div class="home-back-image">
        <img class="home-back-image" src="{% static 'demo/home-back.JPG' %}">
    </div>

    <!--body -->
    <div class="home-content">

        <!-- motto -->
        <div class="motto-div ">
            <div class="motto-div-logo div-flex-center">
                <img class="motto-logo" src="{% static 'png/logo_uncut.png' %}">
            </div>
            <div class="motto-text div-flex-center mobile-text-small">
                Education is a commitment to excellence in Teaching and Learning.
            </div>
            <div class="motto-sub-text div-flex-center mobile-text-x-small">
                "Veritas vincit"
            </div>
            <hr class="motto-line">
        </div>

        <!-- our values  -->
        <div class="our-values">
            <div class="our-values-left">
                <div class="our-values-header">
                    OUR VALUES
                </div>
                <div class="our-values-subtext">
                    School vision and mission statements are an explicit indication of a school's priorities. Research has found academic motivation, mental health promotion, and school belonging to be the most frequently cited themes in these statements. The present study
                    sought to examine whether these themes relate to student academic achievement, as indicated by National Assessment Program — Literacy and Numeracy (NAPLAN) scores. A stratified sample of 287 secondary schools in Victoria, Australia
                    was analysed using two language analytic approaches: qualitative emergent coding and supervised lexical analysis. The highest academic scores occurred when mental health promotion was included, though results depended to some extent
                    on the analytic approach and the level of aggregation. Results do suggest that explicitly prioritising both academic performance and mental health is beneficial. Further, the study provides an approach for using language analysis to
                    investigate multilevel constructs in schools.
                </div>
            </div>
            <div class="our-values-vid">
                <iframe class="video-our-values" width="100%" height="350" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
            </div>
        </div>

        <!-- a warm welcome  -->
        <div class="warm-welcome">
            <div class="warm-welcome-header">
                A warm welcome
            </div>
            <div class="warm-welcome-subtext">
                Welcome to Portland, a Pre Kindergarten to Year 12 Anglican day and boarding school for girls located in Wahroonga, on Sydney’s North Shore.
            </div>
            <div class="flash-cards">


                <div class="flash-card-1">
                    <div class="body-flash-card">
                        <div class="flash-card-logo">
                            <img class="flash-card-logo-image" src="{% static 'png/sheild.png' %}">
                        </div>
                        <div class="flash-card-separator">
                            <span class="flash-card-separator"></span>
                        </div>
                        <div class="flash-card-header">
                            <div class="center-text">EARLY</div>
                            LEARNING
                        </div>
                        <div class="flash-card-separator">
                            <span class="flash-card-separator"></span>
                        </div>
                        <div class="flash-card-footer">
                            Ecd
                        </div>
                    </div>
                </div>

                <div class="flash-card-1">
                    <div class="body-flash-card">
                        <div class="flash-card-logo">
                            <img class="flash-card-logo-image" src="{% static 'png/sheild.png' %}">
                        </div>
                        <div class="flash-card-separator">
                            <span class="flash-card-separator"></span>
                        </div>
                        <div class="flash-card-header">
                            <div class="center-text">PORLAND</div>
                            JUNIOR
                        </div>
                        <div class="flash-card-separator">
                            <span class="flash-card-separator"></span>
                        </div>
                        <div class="flash-card-footer">
                            Grade 1 - Grade 3
                        </div>
                    </div>
                </div>


                <div class="flash-card-1">
                    <div class="body-flash-card">
                        <div class="flash-card-logo">
                            <img class="flash-card-logo-image" src="{% static 'png/sheild.png' %}">
                        </div>
                        <div class="flash-card-separator">
                            <span class="flash-card-separator"></span>
                        </div>
                        <div class="flash-card-header">
                            <div class="center-text">PORTLAND</div>
                            COLT
                        </div>
                        <div class="flash-card-separator">
                            <span class="flash-card-separator"></span>
                        </div>
                        <div class="flash-card-footer">
                            Grade 4 - Grade 6
                        </div>
                    </div>
                </div>



                <div class="flash-card-1">
                    <div class="body-flash-card">
                        <div class="flash-card-logo">
                            <img class="flash-card-logo-image" src="{% static 'png/sheild.png' %}">
                        </div>
                        <div class="flash-card-separator">
                            <span class="flash-card-separator"></span>
                        </div>
                        <div class="flash-card-header">
                            <div class="center-text">PORTLAND</div>
                            SENIOR
                        </div>
                        <div class="flash-card-separator">
                            <span class="flash-card-separator"></span>
                        </div>
                        <div class="flash-card-footer">
                            Grade 7
                        </div>
                    </div>
                </div>

                <div class="flash-card-1">
                    <div class="body-flash-card">
                        <div class="flash-card-logo">
                            <img class="flash-card-logo-image" src="{% static 'png/sheild.png' %}">
                        </div>
                        <div class="flash-card-separator">
                            <span class="flash-card-separator"></span>
                        </div>
                        <div class="flash-card-header">
                            <div class="center-text">PORTLAND</div>
                            BOARDING
                        </div>
                        <div class="flash-card-separator">
                            <span class="flash-card-separator"></span>
                        </div>
                        <div class="flash-card-footer">
                            Grade 3 - Grade 7
                        </div>
                    </div>
                </div>



            </div>
        </div>


        <!-- key points -->
        <div class="key-points">
            <div class="absolute-div">
                <div class="key-points-header">
                    Our key points of difference
                </div>

                <div class="key-points-subtext">
                    Portland Primary education, underpinned by the Christian faith, helps our girls thrive today and tomorrow. We empower amazing girls to do amazing things.
                </div>

                <div class="key-points-cards">
                    <div class="key-points-card">
                        <div class="key-points-card-header">
                            <img class="key-point-header-image" src="{% static 'demo/ac-2.jpg' %}">
                        </div>
                        <div class="key-points-card-header-text">Christian faith</div>
                        <div class="key-points-card-header-subtext">Abbotsleigh acknowledges the importance of spiritual growth and wellbeing for each st ...</div>
                    </div>

                    <div class="key-points-card">
                        <div class="key-points-card-header">
                            <img class="key-point-header-image" src="{% static 'demo/ac-1.jpg' %}">
                        </div>
                        <div class="key-points-card-header-text">Outdoor education</div>
                        <div class="key-points-card-header-subtext">Outdoor education develops resilience, confidence and independence</div>
                    </div>

                    <div class="key-points-card">
                        <div class="key-points-card-header">
                            <img class="key-point-header-image" src="{% static 'demo/ac-3.jpg' %}">
                        </div>
                        <div class="key-points-card-header-text">GCSG</div>
                        <div class="key-points-card-header-subtext">Abbotsleigh’s Grace Cossington Smith Gallery is more than just an art gallery</div>
                    </div>

                    <div class="key-points-card">
                        <div class="key-points-card-header">
                            <img class="key-point-header-image" src="{% static 'demo/ac-4.jpg' %}">
                        </div>
                        <div class="key-points-card-header-text">Global perspective</div>
                        <div class="key-points-card-header-subtext">Our girls develop a dynamic world view by building meaningful connections in other co ...</div>
                    </div>

                    <div class="key-points-card">
                        <div class="key-points-card-header">
                            <img class="key-point-header-image" src="{% static 'demo/ac-5.jpg' %}">
                        </div>
                        <div class="key-points-card-header-text">Service learning</div>
                        <div class="key-points-card-header-subtext">The relationship between improving a situation and the learning gained by that experi ...</div>
                    </div>

                    <div class="key-points-card">
                        <div class="key-points-card-header">
                            <img class="key-point-header-image" src="{% static 'demo/ac-3.jpg' %}">
                        </div>
                        <div class="key-points-card-header-text">Technology</div>
                        <div class="key-points-card-header-subtext">At Abbotsleigh, we recognise the importance of up-to-date and innovative technology</div>
                    </div>

                </div>

            </div>
        </div>


        <!-- some news -->
        <div class="Some-News">
            <div class="Some-News-Header">
                News and events
            </div>
            <div class="warm-welcome-subtext">
                Abbotsleigh is a vibrant and busy place. Our news and events section keeps you up to date with what's going on. Share in our joys. Take part in our events. Visit often – we don't want you to miss a thing.
            </div>
            <div class="News-Cards">

                <div class="News-Card">
                    <img class="News-Card-Image" src="{% static 'demo/reunion.jpg' %}">
                    <div class="News-Card-Title">
                        Old Students Reunion
                    </div>
                    <div class="News-Card-Body">
                        On the 27th, Mr Moyo joined the Old Portlandians at their annual meet day in Bulawayo at Crown Plaza hotel.
                    </div>
                    <div class="News-Card-Footer">
                        <div class="News-Read-More">
                            Read more +
                        </div>
                        <div class="News-Read-Category">
                            Category tag: Old Students
                        </div>
                    </div>
                </div>

                <div class="News-Card">
                    <img class="News-Card-Image" src="{% static 'demo/prefect.jfif' %}">
                    <div class="News-Card-Title">
                        Old Students Reunion
                    </div>
                    <div class="News-Card-Body">
                        Talent Mhere the last of the prefects joins the other 11 after his selection last week friday.
                    </div>
                    <div class="News-Card-Footer">
                        <div class="News-Read-More">
                            Read more +
                        </div>
                        <div class="News-Read-Category">
                            Category tag: Old Students
                        </div>
                    </div>
                </div>


                <div class="News-Card">
                    <img class="News-Card-Image" src="{% static 'demo/hockey.jpg' %}">
                    <div class="News-Card-Title">
                        Old Students Reunion
                    </div>
                    <div class="News-Card-Body">
                        Mr Ntuli proud of the hockey boys who won the Whitestone hockey festival last Friday in Bulawayo.
                    </div>
                    <div class="News-Card-Footer">
                        <div class="News-Read-More">
                            Read more +
                        </div>
                        <div class="News-Read-Category">
                            Category tag: hockey
                        </div>
                    </div>
                </div>




            </div>
        </div>

        <!-- footer -->
        {% include "components/footer.html" %}
    </div>
</div>
{% endblock %}