{% extends 'base.html' %}{% load static %}
<!-- title -->
{% block title %} Home {% endblock %}

<!--style-->
{% block style %}
<link rel="stylesheet" href="{% static 'my-css/events/events.css' %}">
<script src="{% static 'my-js/events/events.js' %}"></script>
{% endblock %}

<!-- body -->
{% block body %}
<div class="home-body">
    <!-- backimage-->
    <div class="page-back-image" style="background-image:  linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/media/media/facilities/page/hockey-1.jpg);">
        Upcoming Events
    </div>

    <!-- filters -->
    <div class="events-filters-div">

        <!-- event filter -->
        <div class="event-filter">
            <div class="event-filter-header">
                EVENTS FROM
            </div>
            <input type="date" class="event-filter-input" placeholder="Date" />
        </div>

        <!-- event filter -->
        <div class="event-filter">
            <div class="event-filter-header">
                SEARCH
            </div>
            <input class="event-filter-input" placeholder="keyword" />
        </div>

        <!-- event filter -->
        <div class="event-filter">
            <div class="event-filter-header">
                LOCATION
            </div>
            <input class="event-filter-input" placeholder="home" />
        </div>

        <!-- find events button -->
        <div class="cs-button-orange "> FIND EVENTS </div>
    </div>

    <!-- upcoming events separator -->
    <div class="upcoming-events-separator">
        Upcoming Events
    </div>

    <!-- events results container -->
    <div class="events-results-container">

        <!-- event results container date header -->
        <div class="events-results-date-header">
            July 2021
        </div>

        <!-- event results content -->
        <div class="event-results-content">

            <!-- home menu item -->
            <div class="home-menu-item">
                <div class="events-menu-header">
                    ECD Events
                    <div class="term-descriptor">First Term</div>
                </div>
                <div class="image-container margin-top-20">
                    <img class="home-menu-image" src="/static/portland/tennis-kids.jpg">
                </div>
                <div class="dates-bold ghyuo">Tennis</div>
                <div class="dates-bold">17<sup>th</sup> January - 12:30<sup>pm</sup></div>
                <div class="term-dates-menu">
                    <i class="fas fa-calendar-week"></i>
                    <div class="spacedD">View ECD Center Calender</div>
                </div>
                <div class="term-dates-menu">
                    <i class="fas fa-file-pdf"></i>
                    <div class="spacedD">View 1st Term Calender</div>
                </div>
            </div>

            <!-- home menu item -->
            <div class="home-menu-item">
                <div class="events-menu-header">
                    ECD Events
                    <div class="term-descriptor">First Term</div>
                </div>
                <div class="image-container margin-top-20">
                    <img class="home-menu-image" src="/static/portland/tennis-kids.jpg">
                </div>
                <div class="dates-bold ghyuo">Tennis</div>
                <div class="dates-bold">17<sup>th</sup> January - 12:30<sup>pm</sup></div>
                <div class="term-dates-menu">
                    <i class="fas fa-calendar-week"></i>
                    <div class="spacedD">View ECD Center Calender</div>
                </div>
                <div class="term-dates-menu">
                    <i class="fas fa-file-pdf"></i>
                    <div class="spacedD">View 1st Term Calender</div>
                </div>
            </div>


            <!-- home menu item -->
            <div class="home-menu-item">
                <div class="events-menu-header">
                    ECD Events
                    <div class="term-descriptor">First Term</div>
                </div>
                <div class="image-container margin-top-20">
                    <img class="home-menu-image" src="/static/portland/tennis-kids.jpg">
                </div>
                <div class="dates-bold ghyuo">Tennis</div>
                <div class="dates-bold">17<sup>th</sup> January - 12:30<sup>pm</sup></div>
                <div class="term-dates-menu">
                    <i class="fas fa-calendar-week"></i>
                    <div class="spacedD">View ECD Center Calender</div>
                </div>
                <div class="term-dates-menu">
                    <i class="fas fa-file-pdf"></i>
                    <div class="spacedD">View 1st Term Calender</div>
                </div>
            </div>




            <!-- home menu item -->
            <div class="home-menu-item">
                <div class="events-menu-header">
                    ECD Events
                    <div class="term-descriptor">First Term</div>
                </div>
                <div class="image-container margin-top-20">
                    <img class="home-menu-image" src="/static/portland/tennis-kids.jpg">
                </div>
                <div class="dates-bold ghyuo">Tennis</div>
                <div class="dates-bold">17<sup>th</sup> January - 12:30<sup>pm</sup></div>
                <div class="term-dates-menu">
                    <i class="fas fa-calendar-week"></i>
                    <div class="spacedD">View ECD Center Calender</div>
                </div>
                <div class="term-dates-menu">
                    <i class="fas fa-file-pdf"></i>
                    <div class="spacedD">View 1st Term Calender</div>
                </div>
            </div>


            <!-- home menu item -->
            <div class="home-menu-item give-top-10">
                <div class="events-menu-header">
                    ECD Events
                    <div class="term-descriptor">First Term</div>
                </div>
                <div class="image-container margin-top-20">
                    <img class="home-menu-image" src="/static/portland/tennis-kids.jpg">
                </div>
                <div class="dates-bold ghyuo">Tennis</div>
                <div class="dates-bold">17<sup>th</sup> January - 12:30<sup>pm</sup></div>
                <div class="term-dates-menu">
                    <i class="fas fa-calendar-week"></i>
                    <div class="spacedD">View ECD Center Calender</div>
                </div>
                <div class="term-dates-menu">
                    <i class="fas fa-file-pdf"></i>
                    <div class="spacedD">View 1st Term Calender</div>
                </div>
            </div>

            <!-- home menu item -->
            <div class="home-menu-item give-top-10">
                <div class="events-menu-header">
                    ECD Events
                    <div class="term-descriptor">First Term</div>
                </div>
                <div class="image-container margin-top-20">
                    <img class="home-menu-image" src="/static/portland/tennis-kids.jpg">
                </div>
                <div class="dates-bold ghyuo">Tennis</div>
                <div class="dates-bold">17<sup>th</sup> January - 12:30<sup>pm</sup></div>
                <div class="term-dates-menu">
                    <i class="fas fa-calendar-week"></i>
                    <div class="spacedD">View ECD Center Calender</div>
                </div>
                <div class="term-dates-menu">
                    <i class="fas fa-file-pdf"></i>
                    <div class="spacedD">View 1st Term Calender</div>
                </div>
            </div>

        </div>
    </div>

    <!-- footer -->
    {% include "components/footer.html" %}
</div>
{% endblock %}