{% extends 'base.html' %}{% load static %}
<!-- title -->
{% block title %} Home {% endblock %}

<!--style-->
{% block style %}
<link rel="stylesheet" href="{% static 'my-css/events/events.css' %}">
<script src="{% static 'my-js/events/events.js' %}"></script>
{% endblock %}

<!-- body -->
{% block body %}
<div class="home-body">
    <!-- backimage-->
    <div class="page-back-image" style="background-image:  linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/media/media/facilities/page/hockey-1.jpg);">
        Upcoming Events
    </div>

    <!-- filters -->
    <div class="events-filters-div">

        <!-- event filter -->
        <div class="event-filter">
            <div class="event-filter-header">
                EVENTS FROM
            </div>
            <input id="date" type="date" class="event-filter-input" placeholder="Date" />
        </div>

        <!-- event filter -->
        <div class="event-filter">
            <div class="event-filter-header">
                SEARCH
            </div>
            <input id="search" class="event-filter-input" placeholder="keyword" />
        </div>

        <!-- event filter -->
        <div class="event-filter">
            <div class="event-filter-header">
                LOCATION
            </div>
            <input id="location" class="event-filter-input" placeholder="home" />
        </div>

        <!-- find events button -->
        <div class="cs-button-orange " onclick="findEvents()"> FIND EVENTS </div>
    </div>

    <!-- upcoming events separator -->
    <div class="upcoming-events-separator">
        Upcoming Events
    </div>

    <!-- events results container -->
    <div class="events-results-container">

        <!-- event results container date header -->
        <div class="events-results-date-header">
            Events results
        </div>

        <!-- event results content -->
        <div id="event-results-content" class="event-results-content">
            <!-- content comes here-->
        </div>
    </div>

    <!-- footer -->
    {% include "components/footer.html" %}
</div>
{% endblock %}