{% extends 'base.html' %}{% load static %}
<!-- title -->
{% block title %} Home {% endblock %}

<!--style-->
{% block style %}
<link rel="stylesheet" href="{% static 'my-css/admissions/admissions.css' %}">
<script src="{% static 'my-js/admissions/admissions.js' %}"></script>
{% endblock %}

<!-- body -->
{% block body %}
<div class="home-body">
    <div class="facilities-back-image" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{{data.backgroundImage.url}}');">
        PORTLAND ADMISSIONS
    </div>


    <!--download forms text -->
    <div class="forms-text">
        Download Application Forms
    </div>

    <!-- documents -->
    <div class="documents-body">

        <div class="document">
            <div class="document-pdf" style="color: red;"><i class="fas fa-file-pdf fa-2x"></i></div>
            <div class="document-text" onclick="goto('{{data.schoolForm.url}}')">
                School Application Form
            </div>
        </div>

        <div class="document">
            <div class="document-pdf" style="color: red;"><i class="fas fa-file-pdf fa-2x"></i></div>
            <div class="document-text" onclick="goto('{{data.boardingForm.url}}')">
                School Boarding Form
            </div>
        </div>

    </div>

    <!-- footer -->
    {% include "components/footer.html" %}
</div>
{% endblock %}