.academics-back-image {
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    color: white;
}

.academics-center {
    width: auto;
    height: auto;
}

.academics-center-header {
    font-size: 45pt;
    text-align: center;
}

.academics-center-subtext {
    font-size: medium;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 20px;
}


/* top 5 */

.last-year-top {
    padding: 40px;
}

.academics-top-5 {
    display: grid;
    margin-top: 10px;
    height: auto;
    grid-template-columns: repeat(5, 1fr);
}


/* school boards */

.academics-boards-container {
    padding-left: 40px;
    padding-right: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.last-year-top-exam {
    font-size: 20px;
    margin-top: 40px;
}

.academics-boards-container>div {
    display: flex;
    justify-content: center;
    align-items: center;
}