{% extends 'base.html' %}{% load static %}
<!-- title -->
{% block title %} Home {% endblock %}

<!--style-->
{% block style %}
<link rel="stylesheet" href="{% static 'my-css/facilities/facilities.css' %}">
<script src="{% static 'my-js/facilities/facilities.js' %}"></script>
{% endblock %}

<!-- body -->
{% block body %}
<div class="content-body">

    <!-- background image -->
    <div class="facilities-back-image" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{{data.backgroundImage.url}}');">
        Portland Facilities
    </div>

    <!-- subimages -->
    <div class="facilities-sub-images">

        {% for facility in focusedFacilities %}
        <!-- sub image item-->
        <div class="facilities-sub-image" onclick="goto('view/{{facility.slug}}')">
            <img class="facilities-sub-image-image" src="{{facility.previewImage.url}}">
            <div class="facilities-sub-image-box">
                <i class="fas fa-rss"></i>
            </div>

            <div class="facilities-sub-image-header">
                {{facility.focusTitle}}
            </div>

            <div class="facilities-sub-image-subtext">
                {{facility.focusText}}
            </div>
        </div>
        {% endfor %}


    </div>


    <!-- facilities motivations -->
    <div class="facilities-motivation">
        <div class="facilities-motivation-text-div">
            <div class="facilities-motivation-text-div-header">
                Our Motivation
            </div>

            <div class="facilities-motivation-text-div-subtext">{{data.motivationText}}</div>

            <div class="facilities-motivation-text-div-button" onclick="goto('view/our-motivation')">LEARN MORE</div>
        </div>
        <div class="facilities-motivation-image-div">
            <img class="facilities-motivation-image-div-img" src="{% static 'demo/img.jpg' %}">
        </div>
    </div>

    <!-- separator -->
    <div class="facilities-separator">
        <div class="div">{{data.qoute}}
            <div class="facilities-separator-line"></div>
        </div>
    </div>

    <!--facilities list -->
    <div class="facilities-list">

        {% for facility in facilities %}
        <div class="facilities-list-item">
            <div class="facilities-list-item-img">
                <img class="facilities-list-item-img-image" src="{{facility.previewImage.url}}">
            </div>

            <div class="facilities-list-item-header">
                {{facility.header}}
            </div>

            <div class="facilities-list-item-subtext">
                {{facility.previewText}}
            </div>

            <div class="div-flex-center">
                <div class="cs-button-blue-line" onclick="goto('view/{{facility.slug}}')">
                    Read More
                </div>
            </div>

        </div>
        {% endfor %}


    </div>
    <!-- footer -->
    {% include "components/footer.html" %}

</div>
{% endblock %}