{% extends 'base.html' %}{% load static %}
<!-- title -->
{% block title %} Home {% endblock %}

<!--style-->
{% block style %}
<link rel="stylesheet" href="{% static 'my-css/gallery/gallery.css' %}">
<script src="{% static 'my-js/gallery/gallery.js' %}"></script>
{% endblock %}

<!-- body -->
{% block body %}
<div class="home-body">
    <!--breadcrum -->
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="">Gallery</a></li>
            <li class="breadcrumb-item active" aria-current="page">Root</li>
        </ol>
    </nav>

    <!-- gallery div-->
    <div id="gallery-div" class="gallery-div">
        <!-- folders come here -->

    </div>


    <!-- footer -->
    {% include "components/footer.html" %}

</div>

{% endblock %}