/* Variables */

:root {
    --contact-bar-color: rgb(196, 157, 86);
    --base-color: #181745;
}


/* styling */

body {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
}

.div-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-flex-start {
    display: flex;
    justify-content: start;
    align-items: center;
}

.div-flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.div-fill-parent-width {
    width: 100%;
}

.spaced {
    margin-left: 10px;
}

.logo-md {
    height: 80px;
}