.news-body {
    padding: 40px;
}


/* news body header */

.news-body-header {
    color: goldenrod;
    font-size: 24pt;
    font-weight: 600;
    text-align: center;
}


/* content body */

.news-body-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.events-filters-div {
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.event-filter {
    width: auto;
    height: auto;
}

.event-filter-header {
    font-size: small;
    padding-left: 2px;
    font-weight: 600;
}

.event-filter-input {
    width: 80%;
    height: 40px;
    padding-left: 10px;
    font-size: small;
    outline: none;
    border: none;
    background-color: var(--base-color);
    color: white;
}


/* change place holder color */

 ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1;
    font-weight: normal;
    /* Firefox */
}

 :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
    font-weight: normal;
}

 ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
    font-weight: normal;
}


/* change date input icon color to white */

 ::-webkit-calendar-picker-indicator {
    filter: invert(1);
}


/* upcoming events separator */

.upcoming-events-separator {
    height: 60px;
    border-top: solid 1px rgba(189, 189, 189, 0.486);
    border-bottom: solid 1px rgba(189, 189, 189, 0.486);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 18pt;
    color: rgb(83, 83, 83);
}


/* adaptivenes */

@media only screen and (max-width: 1055px) {}

@media only screen and (max-width: 800px) {
    .events-filters-div {
        padding: 40px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .news-body-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 600px) {
    .news-body-content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (max-width: 500px) {
    .event-filter-input {
        width: 100%;
    }
    .events-filters-div {
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (max-width: 400px) {}

@media only screen and (max-width: 340px) {
    .events-filters-div {
        padding: 0px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}