.news-body {
    padding: 40px;
}


/* news body header */

.news-body-header {
    color: goldenrod;
    font-size: 24pt;
    font-weight: 600;
    text-align: center;
}


/* content body */

.news-body-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}