body {
    margin: 0;
}

.home-back-image {
    position: fixed;
    top: 100px;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.home-content {
    position: absolute;
    display: block;
    top: 100%;
    width: 101%;
    height: auto;
    color: var(--base-color);
    z-index: 96;
    background-color: white;
}


/* flash cards custom animation */

.flash-card-1 {
    background: goldenrod;
    height: 280px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-right: solid black 0.5px;
}


/* motto div */

.motto-logo {
    height: 100px;
}

.motto-div {
    height: auto;
    padding: 40px;
    position: relative;
}

.motto-text {
    height: 100px;
    font-size: xx-large;
    color: var(--base-color);
    font-weight: 400;
}

.motto-sub-text {
    font-size: x-large;
    color: var(--base-color);
    font-weight: normal;
}

.motto-line {
    margin-top: 30px;
    width: 200px;
    outline: gold;
    color: goldenrod;
    border: solid goldenrod 1px;
}


/* our values */

.our-values {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1.5fr;
    margin-top: 20px;
    padding: 20px;
}

.our-values-header {
    font-size: x-large;
    font-weight: 600;
}

.our-values-subtext {
    font-size: medium;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.our-values-vid {
    padding: 40px;
    margin-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* warm welcome */

.warm-welcome {
    margin-top: 20px;
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--base-color);
    color: white;
    justify-content: center;
}

.warm-welcome-header {
    display: flex;
    font-size: xx-large;
    justify-content: center;
    text-align: center;
}

.warm-welcome-subtext {
    padding-right: 20%;
    padding-left: 20%;
    margin-top: 20px;
    font-size: larger;
    text-align: center;
}

.flash-cards {
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.flash-card {
    background: goldenrod;
    height: 280px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.flash-card-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.flash-card-logo-image {
    height: 50px;
}

.flash-card-logo {
    display: flex;
    justify-content: center;
}

.flash-card-header {
    margin-top: 10px;
    font-size: larger;
    text-align: center;
    color: rgb(44, 44, 44);
}

.center-text {
    text-align: center;
}

.flash-card-separator {
    border-bottom: solid var(--base-color) 1px;
    margin-top: 10px;
    width: 100px;
}

.flash-card-footer {
    margin-top: 10px;
    color: var(--base-color);
    font-size: small;
    text-align: center;
}

.flash-card-back-image {
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.body-flash-card {
    display: block;
}


/* key points */

.key-points {
    padding: 40px;
    margin-top: 50px;
}

.key-points-header {
    text-align: center;
    font-size: xx-large;
    color: goldenrod;
}

.key-points-subtext {
    margin-top: 20px;
    color: var(--base-color);
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
    font-size: larger;
}

.key-points-cards {
    display: grid;
    margin-top: 60px;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 5%;
    padding-right: 5%;
}

.key-points-card {
    padding: 20px;
    height: 350px;
}

.key-points-card:hover {
    color: white;
    cursor: pointer;
    background-color: rgba(135, 135, 199, 0.253);
}

.key-point-header-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.key-points-card-header-text {
    margin-top: 10px;
    font-size: larger;
    font-weight: 600;
    text-align: center;
    color: rgb(54, 54, 54);
}

.key-points-card-header-subtext {
    margin-top: 20px;
    font-size: medium;
    text-align: center;
    color: rgb(54, 54, 54);
}

.absolute-div {
    position: relative;
    width: inherit;
    height: inherit;
}

.add-icon-key {
    position: absolute;
    bottom: 10px;
    right: 10px;
}


/* menu css */

.home-menu-item {
    padding: 20px;
    border-right: solid rgba(211, 211, 211, 0.267) 0.5px;
}

.home-menu-subtext {
    margin-top: 40px;
    font-size: small;
}

.academics-body {
    display: grid;
    grid-template-columns: 1.2fr repeat(4, 1fr);
    height: 100%;
    color: rgb(42, 42, 48);
}

.image-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-fl {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
}

.gold-merit {
    margin-top: 10px;
    color: white;
    padding: 10px;
    background-color: goldenrod;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.silver-merit {
    margin-top: 10px;
    color: white;
    padding: 10px;
    background-color: #C0C0C0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bronze-merit {
    margin-top: 10px;
    color: white;
    padding: 10px;
    background-color: rgb(100, 64, 30);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lg {
    font-size: x-large;
}

.left-merit-div {
    margin-right: 10px;
}

.awaded-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.header-text-menu {
    margin-left: 10px;
    font-size: large;
    font-weight: 500;
}

.menu-link-item {
    display: flex;
    font-size: small;
    margin-top: 20px;
}

.menu-link-text {
    margin-left: 10px;
}

@media only screen and (max-width: 1055px) {
    .home-content {
        top: 80%;
    }
    /* fonts */
    .mobile-text-small {
        font-size: small;
        text-align: center;
    }
    .mobile-text-x-small {
        font-size: x-small;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .mobile-text-larger {
        font-size: larger;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /*our values */
    .our-values {
        grid-template-columns: 1fr;
    }
    .our-values-vid {
        width: 100%;
        margin-left: 0;
        margin-top: 40px;
        padding: 0;
    }
    .video-our-values {
        width: 100%;
        height: 280px;
    }
    .warm-welcome-subtext {
        padding-right: 0;
        padding-left: 0;
        margin-top: 20px;
        font-size: small;
        text-align: center;
    }
    .flash-cards {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5px;
    }
    .flash-card-1 {
        border-right: none;
    }
    .key-points-cards {
        gap: 5px;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 750px) {
    .key-points-cards {
        gap: 5px;
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 600px) {
    .flash-cards {
        grid-template-columns: 1fr;
    }
    .flash-card-1 {
        border-right: none;
        margin-top: 5px;
    }
    .key-points-cards {
        grid-template-columns: 1fr;
    }
}