<style>
    .contact-bar-body {
        background-color: var(--contact-bar-color);
        top: 0;
        position: relative;
        width: 100%;
        left: 0px;
        height: auto;
        padding: 5px;
        color: white;
        font-size: small;
        display: grid;
        grid-template-columns: auto auto auto auto auto 1fr;
        justify-content: flex-start;
        z-index: 99;
    }
    
    .contact-bar-item {
        display: flex;
        justify-content: start;
        align-items: center;
        margin-left: 25px;
        cursor: pointer;
    }
    
    .contact-bar-mobile-hrs {
        margin-left: 5px;
        background-color: black;
        padding: 2px 5px 2px 5px;
        font-size: xx-small;
        border-radius: 3px;
    }
    
    .div-fill-parent-width-90 {
        width: 90%;
    }
    
    .xbehiOKK {
        margin-right: 10px;
        font-size: small;
        margin-bottom: 2px;
    }
    
    .hyidnj {
        font-size: large;
    }
    /* tablets */
    
    @media only screen and (max-width: 1055px) {
        .contact-bar-body {
            grid-template-columns: 1fr 1fr 1fr;
            height: auto;
            width: 100%;
        }
        .contact-bar-item-right {
            justify-content: center;
            margin-bottom: 5px;
        }
        .contact-bar-item {
            justify-content: start;
            margin-top: 10px;
        }
        .hidden-tab {
            display: none;
        }
        .tab-span-two {
            grid-column: 1/3;
        }
    }
    /* mobile */
    
    @media only screen and (max-width: 600px) {
        .contact-bar-body {
            grid-template-columns: 1fr;
            height: auto;
            width: 100%;
        }
        .contact-bar-item-right {
            justify-content: center;
            margin-bottom: 5px;
        }
        .contact-bar-item {
            justify-content: center;
            margin-top: 10px;
        }
        .hidden {
            display: none;
        }
    }
</style>
<div id="contact-bar" class="contact-bar-body ">
    <!--left items -->
    <div class="contact-bar-item  div-flex-start tab-span-two">
        <i class="fa-phone fas xbehiOKK"></i> +263 284 25358/9 772 984223
        <div class="contact-bar-mobile-hrs">Office Hrs</div>
    </div>
    <div class="contact-bar-item div-flex-start " onclick="goto('//mail.google.com/mail/?view=cm&fs=1&to=ntulisontuli@gmail.com&su=PORTLAND&body=BODY')">
        <i class="glyphicon fa-envelope fas xbehiOKK " aria-hidden="true"></i> Contact Us
    </div>
    <div class="contact-bar-item div-flex-start hidden tab-span-two" onclick="showLiveNotification('coming soon')">
        <i class="fas fa-graduation-cap xbehiOKK "></i> E-learning
    </div>
    <div class="contact-bar-item div-flex-start hidden" onclick="showLiveNotification('coming soon')">
        <i class="fas fa-chalkboard-teacher xbehiOKK"></i> Staff
    </div>
    <div class="contact-bar-item div-flex-start tab-span-two">
        <i class="fas fa-file-pdf xbehiOKK"></i> Covid 2021 Procedure and Protocol
    </div>
    <!-- right items -->
    <div class="div-flex-end div-fill-parent-width-90 contact-bar-item-right hidden-tab">
        <div class="contact-bar-item div-flex-start">
            <i class="fab fa-facebook-f hyidnj" onclick="goto('//www.facebook.com/portlandprimaryschool/')"></i>
        </div>
        <div class="contact-bar-item div-flex-start">
            <i class="fab fa-whatsapp hyidnj" onclick="goto('//wa.me/263772984223')"></i>
        </div>
        <div class="contact-bar-item div-flex-start">
            <i class="fab fa-instagram hyidnj" onclick="goto('//www.instagram.com/portlandprimaryschool/')"></i>
        </div>
        <div class="contact-bar-item div-flex-start">
            <i class="fab fa-linkedin-in hyidnj" onclick="goto('//au.linkedin.com/company/portland-primary-school')"></i>
        </div>
    </div>
</div>