<style>
    .footer-body {
        background-color: var(--contact-bar-color);
        height: auto;
        padding: 40px;
        margin-top: 40px;
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 20px;
        font-size: small;
    }
    
    .right-footer {
        display: flex;
        justify-content: center;
    }
    
    .right-footer>a {
        margin-left: 10px;
        margin-right: 10px;
        cursor: pointer;
    }
    
    .right-footer a:hover {
        color: white;
    }
    
    @media only screen and (max-width: 1055px) {
        .left-footer {
            text-align: center;
        }
        .footer-body {
            grid-template-columns: 1fr;
        }
    }
</style>

<div class="footer-body">
    <div class="left-footer">
        &#169; Portland | A private primary school in Zimbabwe located Colleen Bawn Gwanda
    </div>

    <div class="right-footer">
        <a onclick="goto('//mail.google.com/mail/?view=cm&fs=1&to=ntulisontuli@gmail.com&su=PORTLAND&body=BODY')">Contact us</a> |
        <a onclick="showDeveloperModal()"> Developers</a>
    </div>
</div>