{% load static %}
<style>
    .navbar {
        display: grid;
        color: rgb(87, 87, 87);
        font-weight: 600;
        grid-template-columns: 2.5fr repeat(7, 1fr) 0.1fr;
        position: absolute;
        top: 50px;
        height: 120px;
        left: 0;
        padding-right: 40px;
        background-color: white;
        z-index: 98;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .navbar.noshadow {
        box-shadow: none;
        border-bottom: solid 3px #2a32a0;
    }
    
    .navbar-log {
        height: inherit;
    }
    
    .navbar-item {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: medium;
        cursor: pointer;
    }
    
    .navbar-item:hover {
        color: #2a32a0;
    }
    
    .spaced {
        margin-left: 40px;
    }
    
    .nav-bar-apply {
        color: white;
        background-color: var(--base-color);
        margin-left: 10px;
        font-size: x-small;
        padding: 2px 5px 2px 5px;
        border-radius: 3px;
    }
    
    .nav-selected {
        color: #2a32a0;
    }
    
    .mobile-menu {
        display: none;
    }
    
    .navbar-sub {
        position: fixed;
        height: 65%;
        background-color: white;
        left: 0;
        top: 173px;
        box-shadow: 0 4px 8px 0 rgba(138, 138, 138, 0.2), 0 6px 20px 0 rgba(161, 161, 161, 0.19);
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        transition: all 500ms ease;
        opacity: 0;
    }
    
    .mobile-menu-sub {
        display: none;
    }
    
    .navbar-sub.show {
        opacity: 1;
        visibility: visible;
    }
    
    .navbar-sub.hide {
        opacity: 0;
        visibility: hidden;
    }
    
    @media only screen and (max-width: 1055px) {
        .navbar {
            top: 86px;
        }
    }
    /* mobile */
    
    @media only screen and (max-width: 600px) {
        .navbar-item {
            display: none;
        }
        .navbar {
            padding: 10px;
            grid-template-columns: 1fr 1fr;
            height: auto;
        }
        .mobile-menu {
            display: block;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-right: 10px;
            font-size: xx-large;
        }
    }
</style>

<div id="navbarmain" class="navbar div-fill-parent-width">
    <div class="navbar-logo div-flex-center">
        <img class="logo-md" src="{% static 'png/logo.png' %}">
    </div>
    <div id="menu-mobile" class="mobile-menu">
        <i class="fas fa-bars"></i>
    </div>

    <!-- menu for mobile -->
    <div id="mobile-subs" class="mobile-menu-sub">
        <div id="portland_item" class="nav-selected">
            PORTLAND
        </div>
        <div id="facilities_item" class="">
            FACILITIES
        </div>
        <div id="academics_item" class="">
            ACADEMICS
        </div>
        <div id="gallery_item" class="">
            GALLERY
        </div>
        <div id="events_item" class="">
            EVENTS
        </div>
        <div id="news_item" class="">
            NEWS
        </div>
        <div id="admissions_item" class="">
            ADDMISSIONS
            <div class="nav-bar-apply">APPLY</div>
        </div>
    </div>

    <div id="portland_item" class="navbar-item nav-selected">
        PORTLAND
    </div>
    <div id="facilities_item" class="navbar-item">
        FACILITIES
    </div>
    <div id="academics_item" class="navbar-item">
        ACADEMICS
    </div>
    <div id="gallery_item" class="navbar-item">
        GALLERY
    </div>
    <div id="events_item" class="navbar-item">
        EVENTS
    </div>
    <div id="news_item" class="navbar-item">
        NEWS
    </div>
    <div id="admissions_item" class="navbar-item">
        ADDMISSIONS
        <div class="nav-bar-apply">APPLY</div>
    </div>

</div>
<!-- navbar sub -->
<div id="subdiv" class="navbar-sub div-fill-parent-width">
    <div class="" style="color: green;"> ddedeg</div>
</div>

<script>
    var subdiv = document.getElementById("subdiv");
    var navbar = document.getElementById("navbarmain")

    //menus on hover
    document.getElementById("portland_item").onmouseover = function() {
        showSubDivWith()
    }

    document.getElementById("facilities_item").onmouseover = function() {
        showSubDivWith()
    }

    document.getElementById("academics_item").onmouseover = function() {
        showSubDivWith()
    }

    document.getElementById("gallery_item").onmouseover = function() {
        hideSubDiv()
    }

    document.getElementById("events_item").onmouseover = function() {
        showSubDivWith()
    }

    document.getElementById("admissions_item").onmouseover = function() {
        hideSubDiv()
    }



    //menu click 
    document.getElementById("menu-mobile").onclick = function() {
            document.getElementById("mobile-subs").style.display = "grid"
        }
        //hide subdiv on scroll or on leave 
    subdiv.onmouseleave = function() {
        hideSubDiv()
    }

    window.onscroll = function() {
        hideSubDiv()
    }

    function hideSubDiv() {
        if (!subdiv.classList.contains("hide")) {
            subdiv.classList.remove("show")
            subdiv.classList.add("hide")
        }
        //add shadow
        if (!navbar.classList.contains("shadow")) {
            navbar.classList.remove("noshadow")
            navbar.classList.add("shadow")
        }
    }

    function showSubDivWith() {
        if (!subdiv.classList.contains("show")) {
            subdiv.classList.remove("hide")
            subdiv.classList.add("show");
            //add blue bottom to navbar
            if (!navbar.classList.contains("noshadow")) {
                navbar.classList.remove("shadow")
                navbar.classList.add("noshadow")
            }
        }

    }
</script>