{% extends 'base.html' %}{% load static %}
<!-- title -->
{% block title %} White Stone Festival Results - Portland Primary School {% endblock %}

<!--style-->
{% block style %}
<!-- no imports -->

{% endblock %}



<!-- quick styles -->
{% block quickstyle %}
<style>
    /* lightbox */
    
    .nv-back-image {
        height: 500px;
        width: 100%;
        background: linear-gradient( rgba(6, 9, 36, 0.5), rgba(2, 5, 19, 0.5)),
        url("{{data.pic1.url}}");
        background-size: cover;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(231, 230, 230);
    }
    
    .nv-back-header {
        font-size: 40pt;
        padding: 40px;
        font-family: sans-serif;
    }
    
    .breadcrumb {
        display: flex;
        justify-content: flex-end;
    }
    
    .breadcrumb-item>a {
        color: var(--base-color);
    }
    
    .nv-body {
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 10px;
    }
    
    .nv-body>div {
        padding: 15px;
        color: gray;
    }
    
    .nv-left-header {
        padding-top: 15px;
        padding-bottom: 15px;
        font-weight: 700;
    }
    
    .nv-left-point {
        display: flex;
        justify-content: start;
        align-items: center;
        font-size: xx-small;
        margin-top: 5px;
        padding-left: 20px;
    }
    
    .nv-right-search {
        height: 40px;
        padding-left: 10px;
        width: 90%;
    }
    
    .nv-left-point-text {
        padding-left: 20px;
        font-size: small;
    }
    
    .nv-right-header {
        margin-top: 45px;
        font-weight: 700;
        padding-bottom: 20px;
    }
    
    .nv-right-folllow-text {
        display: flex;
        justify-content: start;
        align-items: center;
        margin-top: 3px;
    }
    
    .nv-right-folllow-text>div {
        margin-left: 20px;
    }
    /* image strip */
    
    .image-panel-image {
        height: 200px;
        width: 280px;
        filter: grayscale(100);
        padding: 10px;
        object-fit: cover;
        transition: all 0.2s ease;
        cursor: pointer;
    }
    
    .image-panel>img {
        height: inherit;
        width: inherit;
        object-fit: cover;
    }
    
    .nv-left-picture-strip {
        display: block;
        margin-top: 60px;
    }
    
    @media only screen and (max-width: 1055px) {
        .nv-body {
            display: block;
            padding: 10px;
        }
        .nv-left-subtext {
            font-size: small;
        }
    }
    
    @media only screen and (max-width: 600px) {
        .nv-back-header {
            font-size: 32pt;
        }
        .breadcrumb {
            display: flex;
            justify-content: center;
        }
    }
    
    @media only screen and (max-width:614px) {
        .image-panel-image {
            height: 150px;
            width: 200px;
            padding: 5px;
            object-fit: cover;
        }
        .nv-body {
            padding: 0;
        }
    }
    
    @media only screen and (max-width: 454px) {
        .nv-back-header {
            font-size: 28pt;
        }
        .image-panel-image {
            height: 150px;
            width: 48%;
            padding: 5px;
            object-fit: cover;
        }
    }
    
    @media only screen and (max-width: 340px) {
        .nv-back-header {
            font-size: 20pt;
        }
        .image-panel-image {
            width: 100%;
            border: none;
        }
    }
    
    #lightBox {
        background: rgba(0, 0, 0, 0.349);
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 101;
        display: none;
    }
    
    #lightBox.active {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #picViewing {
        max-width: 90%;
        max-height: 80%;
    }
    
    .nv-right-folllow-text-follow {
        cursor: pointer;
    }
</style>
{% endblock %}

<!-- body -->
{% block body %}
<div class="content-body">
    <div class="nv-back-image">
        <div class="nv-back-header">
            {{data.title}}
        </div>
    </div>

    <!-- breadcrum -->
    <div class="breadcum-div">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="background-color: white;">
                <li class="breadcrumb-item"><a href="/">news</a></li>
                <li class="breadcrumb-item"><a href="/">{{data.NewsClass.name}}</a></li>
                <li class="breadcrumb-item active" aria-current="page">portland-wins-the-2021-marylane-hockey-tournament</li>
            </ol>
        </nav>
    </div>

    <div class="nv-body">
        <div class="nv-left">
            <div class="nv-left-header">
                {{data.Heading}}
            </div>
            <div class="nv-left-subtext">
                {{data.Subtext}}
            </div>

            <div class="nv-left-header">
                {{data.SubHeadingOne}}
            </div>
            <div class="nv-left-subtext">
                {{data.SubHeadingOneText}}
            </div>
            <div class="nv-left-header">
                {{data.SubHeadingTwo}}
            </div>

            <!-- points -->
            {% for point in points %}
            <div class="nv-left-point">
                <i class="fas fa-circle"></i>
                <div class="nv-left-point-text">
                    {{point}}
                </div>
            </div>
            {% endfor %}

            <div class="nv-left-picture-strip">
                <img class="image-panel-image" src="{{data.pic1.url}}">
                <img class="image-panel-image" src="{{data.pic2.url}}">
                <img class="image-panel-image" src="{{data.pic3.url}}">
                <img class="image-panel-image" src="{{data.pic4.url}}">
                <img class="image-panel-image" src="{{data.pic5.url}}">
            </div>
        </div>
        <div class="nv-right">
            <div class="search-box">
                <input id="search" type="search" class="nv-right-search" placeholder="Search...">
            </div>

            <div class="nv-right-header">
                News
            </div>
            <div class="nv-right-folllow-text">
                <i class="fas fa-caret-right"></i>
                <div class="nv-right-folllow-text-follow" onclick="goto('/news')">Primary News</div>
            </div>
            <div class="nv-right-folllow-text">
                <i class="fas fa-caret-right"></i>
                <div class="nv-right-folllow-text-follow" onclick="goto('/news')">ECD News</div>
            </div>
            <div class="nv-right-folllow-text">
                <i class="fas fa-caret-right"></i>
                <div class="nv-right-folllow-text-follow" onclick="goto('/news')">Boarding News</div>
            </div>


            <div class="nv-right-header">
                Recent News
            </div>
            {% for article in recent %}
            <div class="nv-right-folllow-text">
                <i class="fas fa-caret-right"></i>
                <div class="nv-right-folllow-text-follow" onclick="goto('{{article.slug}}')">Primary | {{article.title}} </div>
            </div>
            {% endfor %}

        </div>

    </div>

    <br>
    <br>
    <br>
    <br>
    <!-- footer -->
    <script>
        const lightBox = document.createElement("div")
        lightBox.id = "lightBox"
        lightBox.classList
        document.body.appendChild(lightBox)

        //function to trigger a search query 
        function search() {
            var query = document.getElementById("search").value
            localStorage.setItem("searchQuery", query)
            goto("/news")
        }

        document.getElementById("search").addEventListener("keypress", (event) => {
            if (event.which == 13) {
                search()
            }
        })

        pictures = document.querySelectorAll(".image-panel-image")
        pictures.forEach(pic => {
            pic.addEventListener("click", function() {
                lightBox.innerHTML = ''
                picViewing = document.createElement("img")
                picViewing.id = "picViewing"
                picViewing.src = pic.src
                lightBox.appendChild(picViewing)
                lightBox.classList.add("active")
            })
        });


        lightBox.addEventListener("click", e => {
            if (e.target != e.currentTarget) {
                return
            }

            lightBox.classList.remove("active")
        })
    </script>

    {% include "components/footer.html" %}
</div>
{% endblock %}